/************************* Introduction *************************/

.introduction {
    position: relative;
    display: flex;
    width: 100%;
    height: 88vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(130deg, #0355b3, #a30395);
   
    &__content {
        font-weight: 700;
        font-size: 20vw;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 10px 18px 35px rgba(88, 88, 88, .23);
        margin: 10px 0;
        z-index: 1;
    }
    
     &::before {
        content: "BRO";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 52vw;
        font-weight: 700;
        opacity: 0.2;
        color: #597aa0;
    }
    
    &__arrow {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translate(-12px, 0px);
        width: 24px;
        fill: #ffffff;
        animation: scrollDown 1.6s infinite;
    }
    
    @media (min-width: 1440px) {
        
        &::before {
            font-size: 700px;
        }
        
        &__content {
            font-size: 230px;
        }
    }
    
    @media (max-height: 540px) {
       
        &__arrow {
            animation: none;
        }
    }
    
    @media (max-width: 991px) {
        
        &__arrow {
            display: none;
        }
    }
}


/************************* Slogan *************************/

.slogan {
    position: relative;
    height: 555px;
    width: 100%;
    background-color: $bg-secondary;
    
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        &::before {
            content: "";
            position: absolute;
            border: 10px solid $c-highlight;
            top: 48px;
            left: 20px;
            right: 45px;
            bottom: 48px;
        }
    }
    &__visual {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        width: 465px;
    }
    &__content {
        position: relative;
        z-index: 3;
       
        &-signature {
            position: absolute;
            left: 0;
            bottom: -120px;
            font-size: 32px;
            line-height: 36px;
            font-family: "Alex Brush", cursive;
            color: $c-primary;
        }
    }
    @media (max-width: 991px) {
        
        padding: 40px 0;
        
        &__wrapper {
            align-items: flex-start;
            justify-content: center;
           
            &::before {
                right: 0;
                bottom: 0;
            }
        }
        
        &__visual {
            bottom: -40px;
            left: 50%;
            transform: translateX(-50%);
            width: 410px;
        }
        
        &__content {
            text-align: center;
            
            &-blurb {
                padding: 0 15px;
                
                h2 {
                    font-size: 45px;
                    line-height: 45px;
                }
               
                p {
                    margin-bottom: -15px;
                }
            }
            
            &-signature {
                display: none;
            }
        }
    }
    
    @media (max-width: 767px) {
        
        height: 517px;
        
        &__wrapper {
           
            &::before {
                top: 163px;
            }
        }
        
        &__visual {
            width: 359px;
            max-width: 100%;
        }
    }
    
    @media (max-width: 480px) {
        
        height: 450px;
        
        &__wrapper {
            
            &::before {
                top: 145px;
            }
        }
        
        &__content {
            
            &-blurb {
                
                h2 {
                    font-size: 32px;
                    line-height: 32px;
                }
            }
        }
        
        &__visual {
            width: 313px;
        }
    }
    
    @media (max-width: 364px) {
        
        height: 430px;
        
        &__wrapper {
            
            &::before {
                top: 220px;
            }
        }
        
        &__content {
            
            &-signature {
                display: inherit;
                position: static;
                color: $c-primary;
            }
        }
        
        &__visual {
            width: 225px;
        }
    }
}

/************************* Project-first *************************/

.project-first {
    position: relative;
    padding: 170px 0;
    width: 100%;
    overflow: hidden;
    
    &__visual {
        position: absolute;
        top: 20px;
        left: 55%;
        width: 569px;
		height: 672px;
        margin: 0;
        background: url(/assets/img/screen-project-1.png) center 100% no-repeat; 
    }
    
    @media (max-width: 991px) {
        
        padding: 70px 0;
       
        &__content {

            h2 {
                font-size: 45px;
                line-height: 45px;
            }
        }
        
        &__visual {
                top: 14%;
                left: 60%;
                margin: 0;
                width: 500px;
                height: 312px;
                background: 
                   url(/assets/img/project-1.1.jpg) center 100% no-repeat;
                box-shadow: 5px 8px 30px 1px rgba(0,0,0,0.21);
		       
        }
    }
    
     @media (max-width: 767px) {
         
           &__wrapper {
            text-align: center;
         }
         
             &__content {

            h2 {
                font-size: 45px;
                line-height: 45px;
            }
        }
        
        &__visual {
                display: none;
        }  
    }

     @media (max-width: 480px) {
         
         &__wrapper {
            text-align: center;
         }
         
         &__content {
            
            h2 {
              font-size: 32px;
              line-height: 32px;
         }
    }
    }
}

/************************* Project-second *************************/

.project-second  {
    position: relative;
    padding: 200px 0;
    width: 100%;
    background-color: $bg-secondary;
    overflow: hidden;
    
    &__wrapper {
        display:flex;
        justify-content: flex-end;
    }
    
    &__visual {
        position: absolute;
        transform: translateY(-45%);
        top: 50%;
        right: 46%;
        width: 872px;
        height: 612px;
        margin: 0;
        background: 
            url(/assets/img/screen-project-2.png) center 100% no-repeat;
    
    }
    
    @media (max-width: 991px) {
        
       
        &__content {

            h2 {
                font-size: 45px;
                line-height: 45px;
            }
        }
    }
    
         @media (max-width: 767px) {
             
              padding: 70px 0;
         
           &__wrapper {
            text-align: center;
         }
         
             &__content {

            h2 {
                font-size: 45px;
                line-height: 45px;
            }
        }
        
        &__visual {
                display: none;
        }  
    }
       
     @media (max-width: 480px) {
         
          padding: 70px 0;
         
        &__content {
            
            text-align: center;
            
            h2 {
              font-size: 32px;
              line-height: 32px; 
            }
         }
         
          &__visual {
		    display: none;
        }
    } 
} 


/************************* Last-project *************************/

    .last-projects {
        position: relative;
        width: 100%;
        background-color: $bg-secondary;
        padding: 30px 0 60px 0;
    
        &__list {
            position: relative;
            padding: 30px 0;
        
            &::before {
                content: "";
                position: absolute;
                top: 0;
			    left: 175px;
			    right: 125px;
			    bottom: 0;
                border: 10px solid $c-highlight;
            }
        
            &-el {
			display: none; 
             
                &--active {
				display: flex;
				align-items: center;
				justify-content: space-between;
                }
            }
        }
   
        &__content {
		position: relative;
        width: 40%;
        }
        
        &__visual {
            position: relative;
            width: 60%;
            z-index: 1;
            
            img {
			display: block;
			width: 100%;
            }
        }
        
        &__navigation {
            display: flex;
            width: 100px;
            justify-content: space-between;
            margin: 45px auto 0 auto;
            
            &-el {
			display: block;
			width: 12px;
			height: 12px;
			background-color: #e0e0e0;
			border-radius: 50%;
			cursor: pointer;
                
                &--active {
				background-color: transparent;
				box-shadow: 0 0 0 2px $c-primary;
                }
            }
        }
    @media (max-width: 991px) {
        
        &__heading {
			font-size: 45px;
            line-height: 45px;
        }
        
        &__list {
			padding: 0;
			
            &::before {
				top: 25px;
				left: 0;
				right: 0;
                bottom: 75px;
            }
            
            &-el {
			
                &--active {
					flex-direction: column;
                }
            }
        }
        &__content {
			width: auto;
			max-width: 100%;
			margin-bottom: 45px;
			text-align: center;
			
            &-blurb {
				padding: 0 15px;
				
                h2 {
					font-size: 45px;
                    line-height: 45px;
				}	
                p {
					max-width: 300px;
                }
        }
            }
        
        &__visual {
			width: 700px;
			max-width: 75%;
        }
  }
        @media (max-width: 480px) {
        
         &__heading {
			font-size: 32px;
            line-height: 32px;
        }
        
        &__list {
                
            &::before {
				display: none;
            }
        }
        &__content {
			
            &-blurb {
              h2 {
					font-size: 32px;
                    line-height: 32px;
                }
            }
        }
              &__visual {
			max-width: 100%;
        }
  }
}

/************************* Contact *************************/

.contact {
    position: relative;
	padding-top: 3px;
	background-color: $bg-secondary;
    
    &__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 40px 0;
        
        &::before {
			content: "";
			position: absolute;
			top: 0;
			left: 75px;
			right: 75px;
			bottom: 0;
            margin-bottom: 20px;
			border: 10px solid $c-highlight;
        }
     }
    
     &__visual {
        position: relative;
		width: 52%;
        z-index: 3;
        
        img {
			display: block;
			width: 100%;
            }
    }
        &__form {
		    position: relative;
		    display: flex;
		    width: 48%;
		    flex-wrap: wrap;
		    justify-content: space-between;
		    padding: 15px 0;
		    background-color: $bg-secondary;
		    z-index: 1;
            
            &-el {
			padding: 0 0 0 15px;
			font-size: 18px;
			border: 1px solid $c-secondary;
			border-radius: 3px;
		
			&--name,
            &--email {
				width: 45%;
				height: 50px;
            }
                &--message {
				width: 100%;
				height: 150px;
				margin: 20px 0 30px 0;
				padding-top: 15px;
				resize: none;
            }
    }
          input[type="submit"] {
			margin-left: auto;
			padding: 12px 50px;
        }        
    }
    @media (max-width: 991px) {
       
        &__heading {
            font-size: 45px;
            line-height: 45px;
        }
        
        &__wrapper {
            flex-direction: column;
            padding: 0;
            
            &::before {
                top: 25px;
				left: 0;
				right: 0;
				bottom: 75px;
            }
        }
        &__visual {
			width: 700px;
			max-width: 75%;
			order: 2;
        }
        
        &__form {
			width: 600px;
			max-width: 75%;
			margin-bottom: 35px;
			padding: 0 15px;
        }
    }
    
    @media (max-width: 767px) {
       
        &__visual {
			width: 600px;
			max-width: 95%;
        }
        
        
        &__form {
			
            &-el {
			
				&--name,
                &--email {
					width: 100%;
                }
					
                &--name {
					margin-bottom: 10px;
                }
				
                &--message {
					margin: 10px 0 20px 0;
                }
            }
        }
    }
    
    @media (max-width: 480px) {
		
        &__wrapper  {
			
            &::before {
				display: none;
            }
		}	
        &__visual {
			display: none;
		}		
        &__form {
			max-width: 100%;
			padding: 0;
			
            &-el {
			
				&--name,
                &--email {
					height: 40px;
            }
					
                &--message {
					height: 90px;
                }
            }
        }
}
}
/************************* About *************************/ 

.about {
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        color: $c-primary;
    }
    
    &__left-block {
        width: 30%;
    }
    
     &__my-photo {
        margin-bottom: 30px;
        
        img {
            box-shadow: 5px 8px 30px 1px rgba(0,0,0,0.21);
        }
    }
    
    &__contacts {
        position: relative;
        padding-left: 25px;
        margin-bottom: 20px;
        
        &::after {
            content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			border: 2px solid #88047c;
        }
    }
      
    &__right-block {
        width: 70%;
    }
    
    &__description {
         list-style: inherit;
        
        &--job {
            margin-bottom: 50px;
        }
    }
    
    &__item {
        margin-left: 18px;
    }
    
    &__title {
        
        &--name {
            margin: 0;
            margin-bottom: 10px;
            font-size: 38px;
        }
    }
}


/************************* Footer *************************/

.footer {
	position: relative;
	width: 100%;
	height: 130px;
	
        &__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}	
    &__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
        }
    
    &__arrow-el {
        position: absolute;
        width: 24px;
        fill: $c-primary;
    }

    @media (max-width: 767px) {
		
		height: 130px;
		padding: 10px 0;
        
        &__wrapper {
            flex-direction: column;
        }
        
        &__copyright  {
            order:3;
        }
         
        &__logo {
			position: static;
			transform: translate(0, 0);
			order: 2;
        }
        
        &__arrow-el {
           top:20px;
           right: 10px;
        }
   }
}		