
/************************* About *************************/ 

.about {

    &__wrapper {
        display: flex;
        justify-content: space-between; 
        color: $c-primary;
    }
    
    &__left-block {
        width: 40%;
    }
    
     &__my-photo {
        margin-bottom: 30px;
        
        img {
             
            box-shadow: 5px 8px 30px 1px rgba(0,0,0,0.21);
        }
    }
    
    &__contacts {
        position: relative;
        margin-left: 15px;  
        margin-bottom: 20px; 
        
        &::after {
            content: "";
			position: absolute;
			top: 0;
			left: -16px;    
			bottom: 0;
			border: 2px solid #88047c;
        }
        &-title {
            font-size: 15px;
            line-height: 20px;
            font-weight: 700;
            margin: 0;
            padding: 0; 
            margin-bottom: 10px;
        }
    }

    &__link {
        font-size: 15px;
        line-height: 20px; 
        font-weight: 400;
    }

      
    &__right-block {
        width: 60%;
		margin-right: 90px;  
    }
    
    &__description {
         list-style: inherit;
        
        &--job {
            margin-bottom: 50px;
        }
    }
    
    &__item {
        margin-left: 18px;
    }
    
    &__title {
        
        &--name {
            margin: 0;
            margin-bottom: 10px;
            font-size: 38px;
        }
    }
	
	@media (max-width: 767px) { 
	    
		&__wrapper {  
         	flex-direction: column;
		 	align-items: center;
			 
        }
		
		 &__left-block {
        	width: auto;  
    	} 
		
		 &__right-block {
        	width: 100%;
			margin-right: 0;
			margin-bottom: 50px; 
			 
    	}
	
	}
	
 
    @media (max-width: 480px)  {
        
        padding: 30px 0; 
        
         &__wrapper {
         flex-direction: column;
		 align-items: center;
          
        }
        
         &__heading {
			font-size: 32px;
            line-height: 32px;
        }
         
        &__title {
            
            &--name {
            font-size: 20px;
            line-height: 20px;
            }
        }
        
          &__description {
         list-style: inherit;
        }
    
    
    }

}
