.button {  
    border: 2px solid $c-highlight;
    border-radius: 25px;
    padding: 8px 25px;
    color: $c-highlight;
    font-weight: 700;
    transition: .2s all ease-in-out;

&:hover,
&:active,
&:focus {
    color: lighten($c-highlight, 15%);
    border-color: lighten($c-highlight, 15%);
        }


} 


