
.logo {
    
    &__nickname {
        font-size: 40px;
        line-height: 42px;
        font-weight: 700;
        color: $c-primary;
        text-transform: uppercase;
        
&:hover, 
&:active,
&:focus {
    color: $c-highlight;
        }
        
    }
    
    &__profession {
        font-size: 17px;
        line-height: 17px;
        font-weight: 400;
        color: $c-secondary;
        text-transform: capitalize;
    }
}